<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>préférences utilisateur</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Identifiant</string>
			<key>Key</key>
			<string>userIdentifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Mot de passe</string>
			<key>Key</key>
			<string>userPassword</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>autoconnect</string>
			<key>Title</key>
			<string>Connexion automatique</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>à propos de l&apos;application</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Crédit</string>
			<key>Key</key>
			<string>app_copyright</string>
			<key>DefaultValue</key>
			<string>© 2015 Ghislain Fortin</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>(update needed)</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>appVersion</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
